@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.title {
  font-family: 'Playfair Display', sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  font-family: 'Roboto Light', sans-serif;
  text-align: center;
  background-color: #F3EED9;
  padding: 12em;
}

.hero__title {
  color: #824936;
  font-size: 3.33rem;
}

.section {
  padding: 4em;
}

.section__title--center {
  text-align: center;
  color: #824936;
  font-size: 2rem;
}

.section__content {
  display: flex;
  line-height: 1.5em;
  padding: 3em;
  justify-content: space-between;
}

.section__content p {
  width: 46%;
}

.section__two {
  background-color: #222C2A;
}

.flex--column {
  display: flex;
  justify-content: space-between;
}

.title--beige {
  color: #F3EED9;
  font-size: 2rem;
}

.section__text {
  color: white;
  width: 46%;
}

.section__text p {
  line-height: 1.5em;
  padding: 2em 0;
  font-weight: 300;
}

.section__image {
  width: 46%;
}

.section__three {
  background-color: #824936;
}