@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.header {
  background-color: #3B4050;
}

.nav {
  background-color: #2E323F;
  padding: 0.8em;
}

.container {
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  align-items: flex-end;
}

.row {
  display: flex;
}

.nav__lists {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
  align-items: center;
}

.nav__item {
  margin-left: 3em;
}

.nav__item a {
  color: white;
  text-decoration: none;
}

.nav__button {
  background-color:#A59678;
  padding: 0.25em 1em;
  border-radius: 1em;
}

.header-content {
  padding: 8em 0;
  color: white;
}

.header__title {
  width: 100%;
  padding-right: 2em;
}

.title {
  font-size: 5rem;
  line-height: 1.1em;
}

.header__subtitle {
  width: 100%;
  line-height: 2em;
}

.button {
  background-color:#A59678;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.33rem;
  padding: 0.25em 1.5em;
  border-radius: 1em;
  border: none;
  text-transform: uppercase;
  margin-top: 1em;
}
