@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.color--bronze {
  color: #a59678;
}

.button {
  background-color: #a59678;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.33rem;
  padding: 0.25em 1.5em;
  border-radius: 1em;
  border: none;
  text-transform: uppercase;
  margin-top: 1em;
}

.button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.header {
  background-color: #3b4050;
}

.nav {
  background-color: #2e323f;
  padding: 0.8em;
}

.container {
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  align-items: flex-end;
}

.row {
  display: flex;
}

.nav__lists {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
  align-items: center;
}

.nav__item {
  margin-left: 3em;
}

.nav__item a {
  color: white;
  text-decoration: none;
}

.nav__button {
  background-color: #a59678;
  padding: 0.25em 1em;
  border-radius: 1em;
}

.nav__item:hover {
  opacity: 0.75;
  cursor: pointer;
}

.header-content {
  padding: 8em 0;
  color: white;
}

.header__title {
  width: 100%;
  padding-right: 2em;
}

.title {
  font-size: 5rem;
  line-height: 1.1em;
}

.header__subtitle {
  width: 100%;
  line-height: 2em;
}

.section-one {
  background-color: #efefef;
  padding: 5em 0;
}

.section-two {
  padding: 5em 0;
}

.section__item {
  text-align: center;
  max-width: 15em;
}

.section__item--title {
  color: #a59678;
  font-size: 1.33rem;
  font-family: 'Oswald', sans-serif
}

.title-large {
  font-size: 2rem;
}

.section__item--content {
  font-family: "Monstserrat", sans-serif;
  padding: 1em 1em;
}

.section-two__content--left {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.section-two__content--left img {
  margin: 2em 0;
  width: 100%;
}

.section-two__content--left p {
  font-family: 'Monsterrat', sans-serif;
  line-height: 1.5em;
}

.section-two__content--right {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;

}

.section__item--column {
  background-color:#3B4050;
  color: white;
  padding: 1em;
}

.white {
  color: white;
}

.font-30 {
  font-size: 1.66rem;
}

.flex-start {
  align-items: flex-start;
}

.footer {
  background-color:#3B4050;
  padding: 4em 0;
}

.footer__title {
  font-size: 2.33rem;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.footer__content {
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.footer__subtitle {
  color:#a59678;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1em;
}

.footer__content--1 {
  max-width: 40%;
  margin-right: 5em;
}

.footer__content--2 {
  flex-grow: 1;
}

.footer__content--3 {
  flex-grow: 1;
}

.footer__content--4 {
  flex-grow: 1;
}

.footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  margin-bottom: 1em;
}

.footer__link a {
  text-decoration: none;
  color: white;
  font-size: .9rem;
}

@media (max-width: 700px) {
  .container {
    display: block;
  }

  .section__one__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__item {
    max-width: 100%;
  }

  .section-one {
    display: block;
    max-width: 100%;
  }

  .section-two__content--left {
    max-width: 100%;
  }

  .section-two__content--right {
    max-width: 100%;
    margin-top: 2em;
  }

}
@media (max-width: 1000px) {

}








